.pocket{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding:20px;
}
.wrap{
    flex-wrap: wrap;
    text-align: center;
  padding:13px;
}
.pocket h2{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    width: 300px;
    line-height: 1;
    letter-spacing: -.45px
    
}
.pocket p{
    font-size: 20px;
    width: 400px;
    font-weight: 300;
    padding-top: 20px;
    padding-bottom: 60px;
    color: #7e808c;
    line-height: 1.2;

}